<h1>Formulario de Ingreso.</h1>
<div class="formContainer">
	<form action="/login" method="post">
		<input type="email" name="email" placeholder="Ingrese su email" />
		<input
			type="password"
			name="password"
			placeholder="Ingrese su contraseña"
		/>

		<a class="ctaLink" href="/signup">¿No tenes una cuenta?, Registrate</a>
		<button>Iniciar sesion</button>
	</form>
	{{#if loginMessage}}
		<span class="errorMessage">{{loginMessage}}</span>
	{{/if}}
</div>