<h1>Formulario de Registro.</h1>
<div class="formContainer">
	<form action="/signup" method="post">
		<input type="text" name="email" placeholder="Ingrese su nombre" />
		<input
			type="password"
			name="password"
			placeholder="Ingrese su contraseña"
		/>
		<a class="ctaLink" href="/login">¿Ya tenes una cuenta?, Iniciá sesión</a>
		<button type="submit">Registrarse</button>
	</form>
	{{#if signupMessage}}
		<span class="errorMessage">{{signupMessage}}</span>
	{{/if}}
</div>