<div class="productFormContainer">
	<form action="" id="productForm">
		<div class="inputContainer">
			<input
				type="text"
				name="title"
				id="productName"
				minlength="1"
				placeholder="Ingrese el nombre"
			/>
		</div>
		<div class="inputContainer">
			<input
				type="number"
				min="0"
				name="price"
				id="productPrice"
				minlength="1"
				placeholder="Ingrese el precio"
			/>
		</div>
		<div class="inputContainer">
			<input
				type="url"
				name="thumbnail"
				id="productThumbnail"
				minlength="1"
				placeholder="Ingrese el link de la imagen"
			/>
		</div>

		<button>Agregar Producto</button>
	</form>
</div>